{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="{% static "js/app.js" %}"></script>
</head>

<body ng-App="App" >
  <div ng-controller="clientesCtrl">
    {% verbatim %}

    <div class="row">
      <div class="col-md-1 col-md-offset-10">
        
        <!-- Button trigger modal -->
        <br>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AddModal">
            <span class="glyphicon glyphicon-plus"></span>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalTitle" aria-hidden="true" style="overflow-x: auto; overflow-y: auto;">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="AddModalTitle">Agregar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="nombre" class="col-sm-2 col-md-3 control-label">Nombre:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cliente.nombre" name="nombre" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="paterno" class="col-sm-2 col-md-3 control-label">Paterno:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cliente.paterno" name="paterno" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Materno:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cliente.materno" name="materno" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Dirección:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cliente.direccion" name="direccion" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Ciudad:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cliente.ciudad" name="ciudad" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Colonia:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cliente.colonia" name="colonia" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Cp:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cliente.cp" name="cp" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Estado:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cliente.estado" name="estado" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Tel. Fijo:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cliente.tel_fijo" name="tel_fijo" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Tel. Móvil:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cliente.tel_movil" name="tel_movil" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Tel. Trabajo:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cliente.tel_trabajo" name="tel_trabajo" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Email:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cliente.email" name="email" />
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="sexo" class="col-sm-2 col-md-3 control-label">Sexo:</label>
                      <div class="col-sm-10 col-md-4">
                          <select type="text" class="form-control" ng-model="cliente.sexo"
                                 name="sexo"/>
                                 <option value="F">Femenino</option>
                                 <option value="M">Masculino</option>
                          </select>
                      </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="guardar()">Guardar</button>
              </div>
            </div>
          </div>
        </div>

      </div>  
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Paterno</th>
              <th scope="col">Materno</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cliente in clientes">
              <th scope="row">{{cliente.id}}</th>
              <td>{{ cliente.nombre }}</td>
              <td>{{ cliente.paterno }}</td>
              <td>{{ cliente.materno }}</td>
              <th scope="col">
                  <button type="button" class="btn btn-warning btn-xs" ng-click="update(cliente)">
                      <span class="glyphicon glyphicon-edit"></span>
                  </button>
              </th>
              <th scope="col">
                  <button type="button" class="btn btn-danger btn-xs" ng-click="borrar(cliente)">
                      <span class="glyphicon glyphicon-trash"></span>
                  </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    {% endverbatim %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a href="{% url 'menu' %}">
                    <button type="button" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-triangle-left"></span>
                    </button>
                </a>
            </div>
        </div>

    {% verbatim %}

   <div class="row">
      <div class="col-md-1 col-md-offset-10">
        <!-- Modal Actualizar-->
        <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="UpdateModalTitle">Actualizar Cliente</h5>
                <!--button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button-->
              </div>
              <div class="modal-body">
                <form class="form-horizontal" id="UpdateForm">
                  <div class="form-group">
                    <label for="nombre" class="col-sm-2 col-md-3 control-label">Nombre:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="nombre_m" name="nombre_m"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="paterno" class="col-sm-2 col-md-3 control-label">Paterno:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="paterno_m" name="paterno_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Materno:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="materno_m" name="materno_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Dirección:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="direccion_m" name="direccion_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Ciudad:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="ciudad_m" name="ciudad_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Colonia:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="colonia_m" name="colonia_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Cp:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cp_m" name="cp_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Estado:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="estado_m" name="estado_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Tel. Fijo:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="tel_fijo_m" name="tel_fijo_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Tel. Móvil:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="tel_movil_m" name="tel_movil_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Tel. Trabajo:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="tel_trabajo_m" name="tel_trabajo_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Email:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="email_m" name="email_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Sexo:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="sexo_m" name="sexo_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Status:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="status_m" name="status_m" />
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="actualizar()">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- *********************************** MODAL MENSAJES *****************************************-->
    <div class="row">
        <div class="col-md-1 col-md-offset-10">
            <!-- Modal Mensajes-->
            <div class="modal fade" id="MensajeModal" tabindex="-1" role="dialog"
                 aria-labelledby="MensajeModalTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12" style="text-align: center">
                                    <label>{{ mensaje }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endverbatim %}
  </div>
</body>
</html>