{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/notas.js" %}"></script>
</head>

<body ng-App="App" >
  <div ng-controller="notasCtrl">
    {% verbatim %}

    <div class="row">
      <div class="col-md-1 col-md-offset-10">
        
        <!-- Button trigger modal -->
        <br></br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">Agregar
        </button>

        <!-- Modal -->
        <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="AddModalTitle">Agregar Nota</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="nombre" class="col-sm-2 col-md-3 control-label">Cantidad:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="nota.cantidad" name="cantidad" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="paterno" class="col-sm-2 col-md-3 control-label">Persona Servicio:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="nota.persona_servicio" name="persona_servicio" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Observaciones:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="nota.observaciones" name="observaciones" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Status:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="nota.status" name="status" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Cliente:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="nota.cliente" name="cliente" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Fecha Término:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="date" class="form-control" ng-model="nota.fecha_termino" name="fecha_termino" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Fecha Captura:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="date" class="form-control" ng-model="nota.fecha_captura" name="fecha_captura" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Fecha Entrega:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="date" class="form-control" ng-model="nota.fecha_entrega" name="fecha_entrega" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Descuento:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="nota.descuento" name="descuento" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Servicio:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="nota.servicio" name="servicio" />
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="guardar()">Guardar</button>
              </div>
            </div>
          </div>
        </div>

      </div>  
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cliente</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Persona Servicio</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="nota in notas">
              <th scope="row">{{nota.id}}</th>
              <td>{{ nota.cliente }}</td>
              <td>{{ nota.cantidad }}</td>
              <td>{{ nota.persona_servicio }}</td>
              <th scope="col"><button type="button" class="btn btn-success" ng-click="update(cliente)">Editar</button></th>
              <th scope="col"><button type="button" class="btn btn-success" ng-click="borrar(cliente)">Eliminar</button></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

   <div class="row">
      <div class="col-md-1 col-md-offset-10">
        <!-- Modal Actualizar-->
        <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="UpdateModalTitle">Actualizar Cliente</h5>
                <!--button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button-->
              </div>
              <div class="modal-body">
                <form class="form-horizontal" id="UpdateForm">
                  <div class="form-group">
                    <label for="nombre" class="col-sm-2 col-md-3 control-label">Nombre:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="nombre_m" name="nombre_m"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="paterno" class="col-sm-2 col-md-3 control-label">Paterno:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="paterno_m" name="paterno_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Materno:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="materno_m" name="materno_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Dirección:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="direccion_m" name="direccion_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Ciudad:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="ciudad_m" name="ciudad_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Colonia:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="colonia_m" name="colonia_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Cp:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="cp_m" name="cp_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Estado:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="estado_m" name="estado_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Tel. Fijo:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="tel_fijo_m" name="tel_fijo_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Tel. Móvil:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="tel_movil_m" name="tel_movil_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Tel. Trabajo:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="tel_trabajo_m" name="tel_trabajo_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Email:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="email_m" name="email_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Sexo:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="sexo_m" name="sexo_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Status:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="status_m" name="status_m" />
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="actualizar()">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endverbatim %}
  </div>
</body>
</html>