{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/notas.js" %}"></script>
</head>

<body ng-App="App">
<div ng-controller="notasCtrl">
    {% verbatim %}

    <div class="row">
        <div class="col-md-1 col-md-offset-10">

            <!-- Button trigger modal -->
            <br>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AddModal">
                <span class="glyphicon glyphicon-plus"></span>
            </button>

            <!--div class="alert alert-success" role="alert" id='alertSuccess'>Registro guardado con éxito</div-->

            <!-- *********************************** MODAL AGREGAR *****************************************-->
            <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalTitle"
                 aria-hidden="true">
                <!--div class="modal-dialog modal-lg" role="document"-->
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="AddModalTitle">Agregar Nota</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="font-size: 12px">
                            <form>
                                <div class="row">
                                    <fieldset disabled>
                                        <div class="form-group">
                                            <label class="col-sm-2 col-md-3 control-label">Cliente:</label>
                                            <div class="input-group col-sm-10 col-md-6">
                                                <input type="text" class="form-control" id="cliente"
                                                       placeholder="Cliente"
                                                       ng-model="nota.cliente"
                                                       value="nota.cliente.nombre+' '+nota.cliente.paterno+' '+nota.cliente.materno">
                                                <div class="input-group-addon" ng-click="Catalogoclientes()"><span
                                                        class="glyphicon glyphicon-search"></span></div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-2 col-md-3 control-label">Fecha
                                            Entrega:</label>
                                        <div class="col-sm-10 col-md-4">
                                            <input type="date" class="form-control" ng-model="nota.fecha_entrega"
                                                   name="fecha_entrega"/>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="observaciones"
                                               class="col-sm-2 col-md-3 control-label">Observaciones:</label>
                                        <div class="col-sm-10 col-md-9">
                                            <textarea type="text" class="form-control" rows="3"
                                                      ng-model="nota.observaciones" name="observaciones"/>
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <br>
                            <div class="row">
                                <label class="col-sm-2 col-md-6 control-label">Detalle:</label>
                            </div>
                            <br>
                            <div style="overflow-x: auto; overflow-y: auto;">
                                <div>
                                    <table class="table table-hover" style="font-size: 12px;">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th style="text-align: center">
                                                Articulo
                                            </th>
                                            <th style="text-align: center">
                                                Servicio
                                            </th>
                                            <th style="text-align: center">
                                                Cantidad
                                            </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th class="col-md-1"></th>
                                            <th class="col-md-3">
                                                <select id="articulo_a" type="text" class="form-control"
                                                        ng-options="articulo.descripcion for articulo in articulos track by articulo.id"
                                                        ng-model="detalle.articulo"></select>
                                            </th>
                                            <th class="col-md-3">
                                                <select class="form-control" type="text"
                                                        ng-options="servicio.nombre for servicio in servicios track by servicio.id"
                                                        ng-model="detalle.servicio">
                                                </select>
                                            </th>
                                            <th class="col-md-2 col-md-offset-1">
                                                <input type="number" class="form-control" ng-model="detalle.cantidad"/>
                                            </th>
                                            <th class="col-md-2" style="text-align: center">
                                                <button type="button" class="btn btn-info btn-sm"
                                                        ng-click="guardarDet()">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </th>
                                            <th class="col-md-1"></th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row col-md-8 col-md-offset-2">
                                    <table class="table table-striped">
                                        <tbody>
                                        <thead>
                                        <tr>
                                            <th>Artículo</th>
                                            <th>Servicio</th>
                                            <th>Cantidad</th>
                                            <th>Precio Unitario</th>
                                            <th>Precio Total</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tr ng-repeat="det in nota.detalle">
                                            <th>{{ det.articulo.descripcion }}</th>
                                            <th>{{ det.servicio.nombre }}</th>
                                            <th>{{ det.cantidad }}</th>
                                            <th>{{ det.precio_unitario }}</th>
                                            <th>{{ det.precio }}</th>
                                            <th>
                                                <button type="button" class="btn btn-danger btn-xs"
                                                        ng-click="borrarDet(det)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </th>
                                        </tr>
                                        <tr class="warning">
                                            <th></th>
                                            <th></th>
                                            <th>{{ total_cantidad }}</th>
                                            <th></th>
                                            <th>{{ total_precio_total|currency }}</th>
                                            <th></th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" ng-click="guardar()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- *********************************** PANTALLA PRINCIPAL *****************************************-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Empleado Asignado</th>
                        <th scope="col">Fecha Entrega</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="nota in notas.results">
                        <th>{{nota.id}}</th>
                        <td>{{nota.cliente.nombre+' '+nota.cliente.paterno+' '+nota.cliente.materno}}</td>
                        <td>{{nota.cantidad}}</td>
                        <td>{{nota.empleado.nombre + ' ' + nota.empleado.paterno + '
                            ' + nota.empleado.materno}}
                        </td>
                        <td>{{nota.fecha_entrega}}</td>
                        <th scope="col">
                            <button type="button" class="btn btn-primary btn-xs" ng-click="updateEmpleado(nota)">
                                <span class="glyphicon glyphicon-hand-right"></span>
                            </button>
                        </th>
                        <th scope="col">
                            <button type="button" class="btn btn-warning btn-xs" ng-click="update(nota)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </th>
                        <th scope="col">
                            <button type="button" class="btn btn-danger btn-xs" ng-click="borrar(nota)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </th>
                    </tr>
                    </tbody>
                </table>

                <button type="button" class="btn btn-default" ng-show='notas.previous' ng-click="mostrar('ant')">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
                <button type="button" class="btn btn-default" ng-show='notas.next' ng-click="mostrar('sig')">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
                <label for="empleado" class="col-sm-2 col-md-3 control-label">Total Registros: {{ notas.count }}</label>
            </div>
        </div>

            <!-- *********************************** MODAL ACTUALIZAR *****************************************-->
            <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalTitle"
                 aria-hidden="true">
                <!--div class="modal-dialog modal-lg" role="document"-->
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="UpdateModalTitle">Actualizar Nota</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="font-size: 12px">
                            <form>
                                <div class="row">
                                    <fieldset disabled>
                                        <div class="form-group">
                                            <label class="col-sm-2 col-md-3 control-label">Cliente:</label>
                                            <div class="input-group col-sm-10 col-md-6">
                                                <input type="text" class="form-control" id="cliente_m"
                                                       placeholder="Cliente"
                                                       value="{{ nota_m.cliente.nombre + ' ' + nota_m.cliente.paterno+' '+nota_m.cliente.materno}}">
                                                <div class="input-group-addon" ng-click="Catalogoclientes()"><span
                                                        class="glyphicon glyphicon-search"></span></div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="form-group">
                                        <label class="col-sm-2 col-md-3 control-label">Fecha
                                            Entrega:</label>
                                        <div class="col-sm-10 col-md-4">
                                            <input type="date" class="form-control" ng-model="nota_m.fecha_entrega" value="{{ nota_m.fecha_entrega }}">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="observaciones"
                                               class="col-sm-2 col-md-3 control-label">Observaciones:</label>
                                        <div class="col-sm-10 col-md-9">
                                            <textarea type="text" class="form-control" rows="3"
                                                      ng-model="nota_m.observaciones" name="observaciones_m"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br>
                            <br>
                            <div class="row">
                                <label class="col-sm-2 col-md-6 control-label">Detalle:</label>
                            </div>
                            <br>
                            <div style="overflow-x: auto; overflow-y: auto;">
                                <div>
                                    <table class="table table-hover" style="font-size: 12px;">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th style="text-align: center">
                                                Articulo
                                            </th>
                                            <th style="text-align: center">
                                                Servicio
                                            </th>
                                            <th style="text-align: center">
                                                Cantidad
                                            </th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th class="col-md-1"></th>
                                            <th class="col-md-3">
                                                <select id="articulo_m" type="text" class="form-control"
                                                        ng-options="articulo.descripcion for articulo in articulos track by articulo.id"
                                                        ng-model="detalle_m.articulo"></select>
                                            </th>
                                            <th class="col-md-3">
                                                <select class="form-control" type="text"
                                                        ng-options="servicio.nombre for servicio in servicios track by servicio.id"
                                                        ng-model="detalle_m.servicio">
                                                </select>
                                            </th>
                                            <th class="col-md-2 col-md-offset-1">
                                                <input type="number" class="form-control" ng-model="detalle_m.cantidad"/>
                                            </th>
                                            <th class="col-md-2" style="text-align: center">
                                                <button type="button" class="btn btn-info btn-sm"
                                                        ng-click="guardarDetM()">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </th>
                                            <th class="col-md-1"></th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row col-md-8 col-md-offset-2">
                                    <table class="table table-striped">
                                        <tbody>
                                        <thead>
                                        <tr>
                                            <th>Artículo</th>
                                            <th>Servicio</th>
                                            <th>Cantidad</th>
                                            <th>Precio Unitario</th>
                                            <th>Precio Total</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tr ng-repeat="det in nota_m.detalle">
                                            <th>{{ det.articulo.descripcion }}</th>
                                            <th>{{ det.servicio.nombre }}</th>
                                            <th>{{ det.cantidad }}</th>
                                            <th>{{ det.precio_unitario }}</th>
                                            <th>{{ det.precio }}</th>
                                            <th>
                                                <button type="button" class="btn btn-danger btn-xs"
                                                        ng-click="borrarDet(det)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </th>
                                        </tr>
                                        <tr class="warning">
                                            <th></th>
                                            <th></th>
                                            <th>{{ total_cantidad_m }}</th>
                                            <th></th>
                                            <th>{{ total_precio_total_m|currency }}</th>
                                            <th></th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary" ng-click="actualizar(nota_m)">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    <!-- *********************************** MODAL CLIENTES *****************************************-->
    <div class="row">
            <div class="col-md-1 col-md-offset-10">
                <!-- Modal Nuevo Cliente-->
                <div class="modal fade" id="ClienteModal" tabindex="-1" role="dialog"
                     aria-labelledby="ClienteModalTitle"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="form-group">
                                    <h5 class="modal-title col-sm-10 col-md-6" id="ClienteModalTitle">Clientes</h5>
                                    <div class="input-group col-sm-10 col-md-6">
                                        <input type="text" class="form-control" id="cliente_ac"
                                               placeholder="Cliente" ng-model="cliente_ac"
                                               ng-keypress="[13, 32].includes($event.keyCode) && BuscaCliente(cliente_ac)">
                                        <div class="input-group-addon" ng-click="BuscaCliente(cliente_ac)"><span
                                                class="glyphicon glyphicon-search"></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="cliente in busquedaclientes">
                                                <th>{{cliente.id}}</th>
                                                <td>{{cliente.nombre+' '+cliente.paterno+'
                                                    '+cliente.materno}}
                                                </td>
                                                <th scope="col">
                                                    <!--button type="button" class="btn btn-warning btn-xs"
                                                            ng-click="update(nota)">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </button-->
                                                </th>
                                                <th scope="col">
                                                    <!--button type="button" class="btn btn-danger btn-xs"
                                                            ng-click="borrar(nota)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button-->
                                                </th>
                                                <th scope="col">
                                                    <button type="button" class="btn btn-primary btn-xs"
                                                            ng-click="asignaCliente(cliente)">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- *********************************** MODAL EMPLEADOS *****************************************-->
    <div class="row">
            <div class="col-md-1 col-md-offset-10">
                <!-- Modal Empleados-->
                <div class="modal fade" id="EmpleadoModal" tabindex="-1" role="dialog"
                     aria-labelledby="EmpleadoModalTitle"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="form-group">
                                    <h5 class="modal-title col-sm-10 col-md-6" id="EmpleadoModalTitle">Asigna Empleado</h5>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Puesto</th>
                                                <th scope="col"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="empleado in busquedaempleado">
                                                <th>{{empleado.id}}</th>
                                                <td>{{empleado.nombre+' '+empleado.paterno+'
                                                    '+empleado.materno}}
                                                </td>
                                                <td>{{ empleado.puesto.descripcion }}
                                                </td>
                                                <td></td>
                                                <th scope="col">
                                                    <button type="button" class="btn btn-primary btn-xs"
                                                            ng-click="asignaEmpleado(notaActualizaEmpleado, empleado)">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- *********************************** MODAL MENSAJES *****************************************-->
    <div class="row">
            <div class="col-md-1 col-md-offset-10">
                <!-- Modal Mensajes-->
                <div class="modal fade" id="MensajeModal" tabindex="-1" role="dialog"
                     aria-labelledby="MensajeModalTitle"
                     aria-hidden="true">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center">
                                        <label>{{ mensaje }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endverbatim %}
    </div>
</body>
</html>