{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>
  </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/empleados.js" %}"></script>
</head>

<body ng-App="App" >
  <div ng-controller="empleadosCtrl">
    {% verbatim %}

    <div class="row">
      <div class="col-md-1 col-md-offset-10">
        
        <!-- Button trigger modal -->
        <br></br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddModal">Agregar
        </button>

        <!-- Modal -->
        <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="AddModalTitle">Agregar Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="nombre" class="col-sm-2 col-md-3 control-label">Nombre:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="empleado.nombre" name="nombre" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="paterno" class="col-sm-2 col-md-3 control-label">Paterno:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="empleado.paterno" name="paterno" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno" class="col-sm-2 col-md-3 control-label">Materno:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="empleado.materno" name="materno" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="puesto" class="col-sm-2 col-md-3 control-label">Puesto:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="empleado.puesto" name="puesto" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="status" class="col-sm-2 col-md-3 control-label">Status:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="empleado.status" name="status" />
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="guardar()">Guardar</button>
              </div>
            </div>
          </div>
        </div>

      </div>  
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Paterno</th>
              <th scope="col">Materno</th>
              <th scope="col">Puesto</th>
              <th scope="col">Status</th>
              <th scope="col">Editar</th>
              <th scope="col">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="empleado in empleados">
              <th scope="row">{{empleado.id}}</th>
              <td>{{ empleado.nombre }}</td>
              <td>{{ empleado.paterno }}</td>
              <td>{{ empleado.materno }}</td>
              <td>{{ empleado.puesto }}</td>
              <td>{{ empleado.status }}</td>
              <th scope="col"><button type="button" class="btn btn-success" ng-click="update(empleado)">Editar</button></th>
              <th scope="col"><button type="button" class="btn btn-success" ng-click="borrar(empleado)">Eliminar</button></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

   <div class="row">
      <div class="col-md-1 col-md-offset-10">
        <!-- Modal Actualizar-->
        <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="UpdateModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="UpdateModalTitle">Actualizar Empleado</h5>
                <!--button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button-->
              </div>
              <div class="modal-body">
                <form class="form-horizontal" id="UpdateForm">
                  <div class="form-group">
                    <label for="nombre_m" class="col-sm-2 col-md-3 control-label">Nombre:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="nombre_m" name="nombre_m"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="paterno_m" class="col-sm-2 col-md-3 control-label">Paterno:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="paterno_m" name="paterno_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="materno_m" class="col-sm-2 col-md-3 control-label">Materno:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="materno_m" name="materno_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="puesto_m" class="col-sm-2 col-md-3 control-label">Puesto:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="puesto_m" name="puesto_m" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="status" class="col-sm-2 col-md-3 control-label">Status:</label>
                    <div class="col-sm-10 col-md-4">
                      <input type="text" class="form-control" ng-model="status_m" name="status_m" />
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="actualizar()">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endverbatim %}
  </div>
</body>
</html>